POSTHOG_API_KEY=phx_your_personal_api_key
POSTHOG_HOST=https://us.posthog.com
POSTHOG_PROJECT_ID=429363
POSTHOG_ORGANIZATION_ID=GUID
NEON_AUTH_COOKIE_SECRET=your_neon_auth_cookie_secret
DATABASE_URL=postgresql://neondb_owner:your_password@your_neon_host/neondb?sslmode=require&channel_binding=require
